﻿<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Geoportal Salinas</title>

        {% stylesheets '@leaflet_css' '@common_css' '@app_css' filter='cssrewrite'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!--[if lt IE 9]>
             <script src="bundles/app/js/json2.js" type="text/javascript"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Header / Navbar -->
        <div id="topNavBar" class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header" style="background-image: url( {{ asset('bundles/app/img/geoportal-banner1.png') }} ); width:100%">
                        <img src="{{ asset('bundles/app/img/alcaldia-salinas.png') }}" style="float: left;max-width: 250px;"/>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}


        {% endblock %}


        <script src="bundles/app/js/jquery-1.11.1.min.js"></script>
        <script src="bundles/app/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script src="bundles/app/js/jquery.cookiebar/jquery.cookiebar.js"></script>
        <script src="bundles/app/js/js.cookie.js"></script>
        <script src="bundles/app/js/spin.min.js"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <script src="bundles/app/leaflet/leaflet.js"></script>
        <script src="bundles/app/leaflet/proj4Leaflet/proj4.js"></script>
        <script src="bundles/app/leaflet/proj4Leaflet/proj4leaflet.js"></script>
        <script src="bundles/app//leaflet/leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
        <script src="bundles/app/leaflet/leaflet-fullscreen/Control.FullScreen.js"></script>
        <script src="bundles/app/leaflet/leaflet-draw/leaflet.draw.js"></script>
        <script src="bundles/app/leaflet/leaflet.navbar/Leaflet.NavBar.js"></script>
        <script src="bundles/app/leaflet/leaflet.spin/leaflet.spin.js"></script>
        <script src="bundles/app/leaflet/leaflet.coordinates/src/Control.Coordinates.js"></script>



        <script src="bundles/app/zweatherfeed/jquery.zweatherfeed.js"></script>


        {% javascripts '@app_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}




        {% block end_javascripts %}

        {% endblock %}

    </body>
</html>