﻿<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Geoportal Salinas</title>
          
        {% stylesheets '@openlayers_css' '@common_css' '@app_css' filter='cssrewrite'%}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!--[if lt IE 9]>
             <script src="bundles/app/js/json2.js" type="text/javascript"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Header / Navbar -->
        <div id="topNavBar" class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header">
                        <a class="logo" href="http://www.wsdot.wa.gov/"></a>
                        <div class="navbar-brand">
                            <span>GeoVisualizador-Salinas (alpha)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        
        
        {% endblock %}
        
        
        <script src="bundles/app/js/jquery-1.11.1.min.js"></script>
        <script src="bundles/app/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script src="bundles/app/js/jquery.cookiebar/jquery.cookiebar.js"></script>
        <script src="bundles/app/js/js.cookie.js"></script>

        <script src="bundles/app/openlayers/ol.js"></script>
        <script src="bundles/app/openlayers/proj4.js"></script>

        {% javascripts '@app_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        

        
        {% block end_javascripts %}
        
        {% endblock %}

    </body>
</html>