@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7l7li');
	src:url('fonts/icomoon.eot?#iefix7l7li') format('embedded-opentype'),
		url('fonts/icomoon.ttf?7l7li') format('truetype'),
		url('fonts/icomoon.woff?7l7li') format('woff'),
		url('fonts/icomoon.svg?7l7li#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
	content: "\e609";
}
.icon-expand:before {
	content: "\e607";
}
.icon-stack:before {
	content: "\e602";
}
.icon-compass:before {
	content: "\e603";
}
.icon-compass2:before {
	content: "\e604";
}
.icon-map:before {
	content: "\e605";
}
.icon-map2:before {
	content: "\e606";
}
.icon-zoom-in:before {
	content: "\e600";
}
.icon-zoom-out:before {
	content: "\e601";
}
