﻿html, body {
    overflow-x: hidden;
    height: 100%;
    padding: 10px;
    /*font-family: 'Helevetica Black', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif*/
}

html {
    font-size: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    margin: 0em;
    padding: 0em;
    background-color: #f2f2f2;
}

#cookie-bar {background:#111111; height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}

#map {
    /*height: 90%;
    padding-bottom: 0;*/
    -webkit-box-shadow: 3px 3px 17px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    3px 3px 17px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         3px 3px 17px 0px rgba(50, 50, 50, 0.8);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#progressBar {
    z-index: 1;
    position: absolute;
    bottom: calc(50%);
    left: calc(50%);
}

#tools {
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 1;
}

.tab-content {
    /*overflow-y: auto;*/
}

.navbar-inverse {
    background-image: none;
    background-color: #002962; /*Pantone 335*/
}

.navbar-inverse .navbar-brand {
    color: white;
    /*padding-left: 3em;*/
}

.wsdot-logo {
    float:left;
}

.elc-lines path {
    stroke: rgb(0,255,0);
    stroke-width: 1pt;
    stroke-opacity: 1;
}

@media only screen and (max-width : 767px) {
    .logo {
        background: url(../img/escudo_90x81.png)  no-repeat scroll 0% 0% transparent;
        display: block;
        width: 39px;
        height: 100px;
        text-indent: -999em;
        float: left;
    }
}

@media only screen and (min-width : 768px) {
    .logo {
        background: url(../img/escudo_90x81.png)  no-repeat scroll 0% 0% transparent;
        background-repeat: no-repeat;
        display: block;
        width: 150px;
        height: 100px;
        text-indent: -999em;
        float: left;
    }
}

@media only screen and (min-width : 992px) {
    .logo {
        background: url(../img/escudo_90x81.png)  no-repeat scroll 0% 0% transparent;
        display: block;
        width: 150px;
        height: 100px;
        text-indent: -999em;
        margin-right: 1em;
        float: left;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -75%; /* 9 columns */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -75%; /* 9 columns */
    }

    .row-offcanvas-right.active {
        right: 75%; /* 9 columns */
    }

    .row-offcanvas-left.active {
        left: 75%; /* 9 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 75%; /* 9 columns */
    }
}
#topNavBar{
    margin: auto;
    max-width: 1300px;


}
#contentContainer{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    max-width: 1300px;
    margin-top: 10px;
}
#mapContainer{

}


.geometry-type-point .line-only {
    display: none;
}

.mp-type-arm .srmp-only {
    display: none;
}

.agol-title {
    font-weight: bold;
}

.agol-snippet {
    font-size: 0.85em;
}

/* This is to fix a weird esri + bootstrap bug that causes basemap thumbnails to "move around".*/
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
    margin: 1px;
}


#tools .btn {
    background: rgb(0, 41, 98);
    -webkit-box-shadow: 2px 1px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 9px 0px rgba(0,0,0,0.75);
    color: #fff;
}

#tools .btn:hover {
    background: rgb(255, 102, 0);

}

#tools .btn i{
    font-size: 20px;
}

#layersPanel,#layersGroupsPanel{
    padding: 10px;
}

#layersPanel .panel-body,
#layersGroupsPanel .panel-body{
    padding: 5px
}

#layersPanel div.checkbox,
#layersGroupsPanel div.checkbox{
    margin-top: 5px;
    margin-bottom: 5px;

}

span.geo-img.geo-layers {
    /* content: 'ppe'; */
    background-image: url(../img/layers-icon.png);
}

#tabs>li>a{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 24px;
    color: rgb(0, 41, 98);
}




body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #888;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
}

strong { font-weight: bold; font-style: italic; }

a, a:hover, a:focus {
    color: #f60;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
    margin-top: 0;
    font-size: 28px;
    color: #555;
    font-weight: bold;
    line-height: 38px;
}

img { max-width: 100%; }

::-moz-selection { background: #aaa; color: #fff; text-shadow: none; }
::selection { background: #aaa; color: #fff; text-shadow: none; }

.icons-container {
    padding: 40px 0 50px 0;
}

.container-gray {
    background: #f8f8f8;
}

.icons-text {
    padding-bottom: 10px;
}

/***** Header *****/

header {
    padding: 35px 0 25px 0;
    background: #333;
}

header h1 {
    color: #888;
    font-style: italic;
}

header p a, header p a:focus { color: #fff; border-bottom: 1px dotted #fff; }
header p a:hover { color: #fff; border: 0; }

.logo {
    padding-bottom: 10px;
}

.logo a {
    display: inline-block;
    width: 146px;
    height: 30px;
    background: url(../img/logo.png) center center no-repeat;
    text-indent: -9999px;
}

/***** Footer *****/

footer {
    padding: 25px 0;
    background: #333;
}

.footer-copyright {
    color: #aaa;
}

.footer-copyright a, .footer-copyright a:focus { color: #fff; border-bottom: 1px dotted #fff; }
.footer-copyright a:hover { color: #fff; border: 0; }

/* Retina-ize logo */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .logo a {
        background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 146px 30px !important;
    }

}


/******************************************************/
/********************* Icons **************************/
.layer-btn-container{
    display: inline-block;   
    margin: 10px 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    color: #fff;
}
.layer-btn-container a{
   color: #fff;
}
.layer-btn-container a:hover{
   color: #fff;
}
.layer-btn-container a:focus{
   color: #fff;
}
.layer-btn-container:hover{
   border-bottom-style: solid;
}
.layer-btn-container.layer-on:hover{
   border-bottom-style: solid;
}
 
 
.layer-btn {
    margin: 0px 0px 3px 0px;
    padding: 0;
    display: inline-block;    
    text-align: center;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    width: 35px;
    height: 35px;
    padding-top: 7px;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    /*
        text-shadow:rgb(0,104,167) 1px 1px,rgb(0,104,167) 2px 2px,rgb(0,104,167) 3px 3px,rgb(0,104,167) 4px 4px,rgb(0,104,168) 5px 5px,rgb(0,104,168) 6px 6px,rgb(0,104,168) 7px 7px,rgb(0,105,168) 8px 8px,rgb(0,105,169) 9px 9px,rgb(0,105,169) 10px 10px,rgb(0,105,169) 11px 11px,rgb(0,105,169) 12px 12px,rgb(0,105,170) 13px 13px,rgb(0,105,170) 14px 14px,rgb(0,106,170) 15px 15px,rgb(0,106,170) 16px 16px,rgb(0,106,171) 17px 17px,rgb(0,106,171) 18px 18px,rgb(0,106,171) 19px 19px,rgb(0,106,171) 20px 20px,rgb(0,106,171) 21px 21px,rgb(0,107,172) 22px 22px,rgb(0,107,172) 23px 23px,rgb(0,107,172) 24px 24px,rgb(0,107,172) 25px 25px,rgb(0,107,173) 26px 26px,rgb(0,107,173) 27px 27px,rgb(0,107,173) 28px 28px,rgb(0,107,173) 29px 29px,rgb(0,108,174) 30px 30px,rgb(0,108,174) 31px 31px,rgb(0,108,174) 32px 32px,rgb(0,108,174) 33px 33px,rgb(0,108,175) 34px 34px,rgb(0,108,175) 35px 35px,rgb(0,108,175) 36px 36px,rgb(0,109,175) 37px 37px,rgb(0,109,176) 38px 38px,rgb(0,109,176) 39px 39px,rgb(0,109,176) 40px 40px,rgb(0,109,176) 41px 41px,rgb(0,109,176) 42px 42px,rgb(0,109,177) 43px 43px,rgb(0,110,177) 44px 44px,rgb(0,110,177) 45px 45px,rgb(0,110,177) 46px 46px,rgb(0,110,178) 47px 47px,rgb(0,110,178) 48px 48px,rgb(0,110,178) 49px 49px,rgb(0,110,178) 50px 50px,rgb(0,111,179) 51px 51px,rgb(0,111,179) 52px 52px,rgb(0,111,179) 53px 53px,rgb(0,111,179) 54px 54px,rgb(0,111,180) 55px 55px,rgb(0,111,180) 56px 56px,rgb(0,111,180) 57px 57px,rgb(0,111,180) 58px 58px,rgb(0,112,181) 59px 59px,rgb(0,112,181) 60px 60px,rgb(0,112,181) 61px 61px,rgb(0,112,181) 62px 62px,rgb(0,112,181) 63px 63px,rgb(0,112,182) 64px 64px,rgb(0,112,182) 65px 65px,rgb(0,113,182) 66px 66px,rgb(0,113,182) 67px 67px,rgb(0,113,183) 68px 68px,rgb(0,113,183) 69px 69px,rgb(0,113,183) 70px 70px,rgb(0,113,183) 71px 71px,rgb(0,113,184) 72px 72px,rgb(0,114,184) 73px 73px,rgb(0,114,184) 74px 74px,rgb(0,114,184) 75px 75px,rgb(0,114,185) 76px 76px,rgb(0,114,185) 77px 77px,rgb(0,114,185) 78px 78px,rgb(0,114,185) 79px 79px,rgb(0,115,186) 80px 80px;
    */
}

.layer-btn.layer-off{
    color: #fff;
}
.layer-btn.layer-on{
    -webkit-box-shadow: 5px -5px 8px -1px rgba(0,0,0,1);
    -moz-box-shadow: 5px -5px 8px -1px rgba(0,0,0,1);
    box-shadow: 5px -5px 8px -1px rgba(0,0,0,1);
    color: #fff;
}

.layer-btn-container.layer-btn-cadetblue.layer-on,.layer-btn-container.layer-btn-cadetblue:hover{
    border-bottom-color:#416574;  
}

.layer-btn-container.layer-btn-red.layer-on,.layer-btn-container.layer-btn-red:hover{
    border-bottom-color:rgb(202, 59, 40);  
}
.layer-btn-container.layer-btn-darkred.layer-on,.layer-btn-container.layer-btn-darkred:hover{
    border-bottom-color:#9F3235;  
}
.layer-btn-container.layer-btn-lightred.layer-on,.layer-btn-container.layer-btn-lightred:hover{
    border-bottom-color:#FF8A7A;  
}
.layer-btn-container.layer-btn-orange.layer-on,.layer-btn-container.layer-btn-orange:hover{
    border-bottom-color:#F1942F;  
}
.layer-btn-container.layer-btn-beige.layer-on,.layer-btn-container.layer-btn-beige:hover{
    border-bottom-color:#FFC78B;  
}
.layer-btn-container.layer-btn-green.layer-on,.layer-btn-container.layer-btn-green:hover{
    border-bottom-color:#6FAB25;  
}
.layer-btn-container.layer-btn-darkgreen.layer-on,.layer-btn-container.layer-btn-darkgreen:hover{
    border-bottom-color: #6D7C22;  
}
.layer-btn-container.layer-btn-lightgreen.layer-on,.layer-btn-container.layer-btn-lightgreen:hover{
    border-bottom-color: #BBF770;  
}
.layer-btn-container.layer-btn-blue.layer-on,.layer-btn-container.layer-btn-blue:hover{
    border-bottom-color: #36A5D6;  
}
.layer-btn-container.layer-btn-darkblue.layer-on,.layer-btn-container.layer-btn-darkblue:hover{
    border-bottom-color:#00659F ;  
}
.layer-btn-container.layer-btn-lightblue.layer-on,.layer-btn-container.layer-btn-lightblue:hover{
    border-bottom-color: #85DAFF;  
}

.layer-btn-container.layer-btn-purple.layer-on,.layer-btn-container.layer-btn-purple:hover{
    border-bottom-color: #CD50B5;  
}
.layer-btn-container.layer-btn-darkpurple.layer-on,.layer-btn-container.layer-btn-darkpurple:hover{
    border-bottom-color: #593869;  
}
.layer-btn-container.layer-btn-pink.layer-on,.layer-btn-container.layer-btn-pink:hover{
    border-bottom-color: #FF8CE8;  
}
.layer-btn-container.layer-btn-cadetblue.layer-on,.layer-btn-container.layer-btn-cadetblue:hover{
    border-bottom-color: #416574;  
}
.layer-btn-container.layer-btn-white.layer-on,.layer-btn-container.layer-btn-white:hover{
    border-bottom-color: #FFF;  
}
.layer-btn-container.layer-btn-lightgray.layer-on,.layer-btn-container.layer-btn-lightgray:hover{
    border-bottom-color: #A3A3A3;  
}
.layer-btn-container.layer-btn-gray.layer-on,.layer-btn-container.layer-btn-gray:hover{
    border-bottom-color: #575757;  
}
.layer-btn-container.layer-btn-black.layer-on,.layer-btn-container.layer-btn-black:hover{
    border-bottom-color:#303030 ;  
}

.layer-btn-container.layer-btn-pink a{background: #FF8CE8;}
.layer-btn-container.layer-btn-cadetblue a{background: #416574;}
.layer-btn-container.layer-btn-white a{background: #FFF; color: black;}
.layer-btn-container.layer-btn-gray a{background: #575757;}
.layer-btn-container.layer-btn-lightgray a{background: #A3A3A3;}
.layer-btn-container.layer-btn-black a{background: #303030;}



.layer-btn-container.layer-btn-red a{ background: rgb(202, 59, 40);}
.layer-btn-container.layer-btn-darkred a{background: #9F3235;}
.layer-btn-container.layer-btn-lightred a{background: #FF8A7A;}
.layer-btn-container.layer-btn-orange a{background: #F1942F;}
.layer-btn-container.layer-btn-beige a{background: #FFC78B;}
.layer-btn-container.layer-btn-green a{background: #6FAB25;}
.layer-btn-container.layer-btn-darkgreen a{background: #6D7C22;}
.layer-btn-container.layer-btn-lightgreen a{background: #BBF770;}
.layer-btn-container.layer-btn-blue a{background: #36A5D6;}
.layer-btn-container.layer-btn-darkblue a{background: #00659F;}
.layer-btn-container.layer-btn-lightblue a{background: #85DAFF;}
.layer-btn-container.layer-btn-purple a{background: #CD50B5;}
.layer-btn-container.layer-btn-darkpurple a{background: #593869;}



/*WEATHER*/
.weatherFeed a { color: #888; }
.weatherFeed a:hover {
	color: #000;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity { text-transform: uppercase; }
.weatherTemp {
	font-size: 2.8em;
	font-weight: bold;
}
.weatherDesc, .weatherCity, .weatherForecastDay  { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; }
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem { font-size: 0.8em; }
.weatherLink, .weatherForecastItem {
	margin-top: 0.5em;
	text-align: left;
}
.weatherForecastItem {
	padding: 0.5em 0.5em 0.5em 80px;
	background-color: #fff;
	background-position: left center;
}
.weatherForecastDay { font-size: 1.1em; }
.odd { background-color: #e8e8fc; }
.even { background-color: #d4d4e8; }



#map .leaflet-bar a, #map .leaflet-bar a:hover {
    background-color: #002962;  
    color: #fff;
}
#map .leaflet-bar a:hover {
    background-color: #FF6600; 
}

#map .leaflet-control-zoom-fullscreen{
    color: #fff;
    background-image:none;
}

#map .leaflet-control-zoom-fullscreen:before {
    font-family: 'icomoon';
    content: "\e607";
    font-size: 24px;
}

#map .leaflet-control-navbar-home{
    color: #fff;
    background-image: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
}
#map .leaflet-control-navbar-home:before{
    content: "\f015";
}
#map .leaflet-control-navbar-fwd,#map .leaflet-control-navbar-fwd-disabled {
    background-image: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
}
#map .leaflet-control-navbar-fwd:before,#map .leaflet-control-navbar-fwd-disabled:before {
    content: "\f061";
}
#map .leaflet-control-navbar-back,#map .leaflet-control-navbar-back-disabled {   
    background-image: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
}
#map .leaflet-control-navbar-back:before,#map .leaflet-control-navbar-back-disabled:before {
    content: "\f060";
}

#map .leaflet-control-navbar-fwd, #map .leaflet-control-navbar-back{
    color: #fff;
}
#map a.leaflet-control-navbar-fwd-disabled.leaflet-disabled, #map a.leaflet-control-navbar-back-disabled.leaflet-disabled{
    color: rgb(113, 109, 109);
}
#map a.leaflet-control-navbar-fwd-disabled.leaflet-disabled:hover, #map a.leaflet-control-navbar-back-disabled.leaflet-disabled:hover{
    color: #002962;
}

div#featureModal .modal-header {
    text-align: left;
}

div#feature-info table tbody tr td {
    text-align: left;
}

div#featureModal .modal-footer .btn {
    background-color: rgba(0, 20, 49, 0.99);
    color: white;
    border-color: rgba(0, 20, 49, 0.99);
}

div#featureModal .modal-footer .btn:hover {
    background-color: rgba(255, 109, 12, 1);
    color: white;
    border-color: rgba(255, 109, 12, 1);
}

.leaflet-control-coordinates{
    background: #002962;
    background: rgba(0,42,98,.6);
    cursor:pointer
}
.leaflet-control-coordinates,
.leaflet-control-coordinates .uiElement input{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
.leaflet-control-coordinates .uiElement{
    margin:4px
}
.leaflet-control-coordinates .uiElement .labelFirst{
    margin-right:4px
}
#coordinate_span{
    color: white;
    font-size: 12px;
}




#map .ol-zoom .ol-zoom-in {
    border-radius: 5px 5px 0 0;
}
#map .ol-zoom .ol-zoom-out {
    border-radius: 0 0 5px 5px;
}
#map .ol-control button:focus, 
#map .ol-control button:hover {
    text-decoration: none;
    background-color: #FF6600;
    /* background-color: rgba(0,80,136,.7); */
}

#map .ol-control button {
    font-size: 22px;
    height: 30px;
    width: 30px;

    background: #002962;
    background: rgba(0,42,98,.8);
}
#map .ol-scale-line {
    background: #002962;
    background: rgba(0,42,98,.94);
    border-radius: 4px;
    bottom: 8px;
    left: 8px;
    padding: 2px;
    position: absolute;
}

#map .ol-scale-line-inner { 
    color: #eee;
    font-size: 12px; 
}


