{% extends 'AppBundle:templates:base.html.twig' %}

{% block content %}
    <div class="container-fluid" id="admin-content">    
        <div class="row">
            <div class="panel col-md-12">
                <ul id="tabs" class="nav nav-tabs">                   
                    <li class="active">
                        <a href="#layersGroupsPanel">
                            {% image 'bundles/app/img/layers-icon.png' %}
                            <img src="{{ asset_url }}" alt="Grupos" />
                            {% endimage %}                                    
                        </a>
                    </li>
                    <li>
                        <a href="#layersPanel">
                            {% image 'bundles/app/img/layers-icon.png' %}
                            <img src="{{ asset_url }}" alt="Capas" />
                            {% endimage %}                                    
                        </a>
                    </li>
                    <li>
                        <a href="#toolsPanel">
                            {% image 'bundles/app/img/layers-configure-icon.png' %}
                            <img src="{{ asset_url }}" alt="Buscar" />
                            {% endimage %}

                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="layersGroupsPanel">
                       <form action="{{ path('layer-group-create') }}" method="post" id="layersGroupsForm" class="form-horizontal">
                            <div class="form-group">
                                <label for="groupName" class="col-md-2 control-label">Nombre del grupo</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="groupName" id="groupName" placeholder="Nombre del grupo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="groupType" class="col-md-2 control-label">Tipo</label>
                                <div class="col-md-3">
                                    <select name="groupType" id="groupType" class="form-control">
                                        <option value="V">Vectorial</option>
                                        <option value="R">Raster</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-3">
                                    <button type="submit" class="btn btn-default">Adicionar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="tab-pane" id="layersPanel">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Direccion de GeoServer</label>
                                <div class="col-md-3">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="workspace" class="col-md-2 control-label">Espacio de trabajo</label>
                                <div class="col-md-3">
                                    <select id="workspace" class="form-control">
                                    </select>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="searchPanel">
                        <!-- Will be loaded from template -->
                    </div>
                    <div class="tab-pane" id="toolsPanel">

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block end_javascripts %}
    {% javascripts
            '@AppBundle/Resources/public/js/admin.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}