{% extends 'AppBundle:templates:base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right" id="mapRow">

            <!-- Map -->
            <div id="mapContainer" class="col-xs-12 col-sm-7 col-md-9">
                <div id="map" >
                    <div id="tools" class="visible-xs">
                        <button type="button" class="btn" data-toggle="offcanvas"><i class="fa fa-cog"></i></button>
                    </div>
                    <progress id="progressBar" hidden="hidden"></progress>
                </div>
            </div>

            <!-- Tools panel-->
            <div class="col-sm-5 col-md-3 sidebar-offcanvas" id="sidebar">
                <div class="panel">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#basemapsPane" aria-controls="basemapsPane" role="tab" data-toggle="tab">
                                <i class="icon-map2"></i>                           
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#layersPanel" aria-controls="layersPanel" role="tab" data-toggle="tab">
                                <i class="icon-stack"></i>                                   
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#searchPanel" aria-controls="searchPanel" role="tab" data-toggle="tab">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>                        
                    </ul>
                                       
                    <div class="tab-content">                            
                        <div class="tab-pane" id="basemapsPane">
                            <div id="basemapGallery">
                                <div class="esriBasemapGalleryNode">
                                    <a href="javascript:void(0);">
                                        
                                    </a>
                                    <div class="esriBasemapGalleryLabelContainer">
                                        <span>Imagery Hybrid</span>
                                    </div>
                                </div>
                                <br style="clear: both;">
                            </div>
                        </div>
                        <div class="tab-pane active" id="layersPanel">
                            <div class="btn-layer-container layer-off layer-btn-cadetblue">
                                <a href="#" class="btn layer-btn layer-btn-cadetblue" data-layer-name="predios" data-layer-index="2">
                                    <i class="fa fa-home"></i>
                                </a>
                            </div>
                            
                            <a href="#" class="btn layer-btn layer-off layer-btn-cadetblue" data-layer-name="predios" data-layer-index="2">
                                <i class="fa fa-home"></i>
                            </a>
                            <a href="#" class="btn layer-btn layer-off layer-btn-green" data-layer-name="hospitales" data-layer-index="3">
                                <i class="fa fa-h-square"></i>
                            </a>
                            <a href="#" class="btn layer-btn layer-off layer-btn-orange">
                                <i class="fa fa-road"></i>
                            </a>
                            <a href="#" class="btn layer-btn layer-off layer-btn-red" data-marker-color="red" data-layer-name="hoteles" data-layer-index="4">
                                <i class="fa fa-hotel"></i>
                            </a>                            
                            <a href="#" class="btn layer-btn layer-off layer-btn-darkblue" data-marker-color="darkblue" data-layer-name="universidades" data-layer-index="5">
                                <i class="fa fa-university"></i>
                            </a>
                        </div>
                        <div class="tab-pane" id="searchPanel">
                            <!-- Will be loaded from template -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> <!--row-->
    </div>
    
    <div class="modal fade" id="featureModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-primary" id="feature-title"></h4>
          </div>
          <div class="modal-body" id="feature-info"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




{% endblock %}